* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* NAVBAR HEADER STYLES */
.navbar-header {
    height: 60px;
    color: #FFFFFF;
    background-color: #004458;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

.navbar-header > .title {
    cursor: pointer;
    text-transform: uppercase;
}

.navbar-header > .menu {
    list-style-type: none;
}

.navbar-header .menu-item {
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

.navbar-header .menu-item a {
    text-decoration: none;
    color: #FFFFFF;
}

/* SEARCH FORM STYLES */
.search-form {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form .control-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form .control-container i {
    position: absolute;
    float: right;
    right: 20px;
    color: #004458;
}

.search-form input {
    width: 300px;
    padding: 8px 50px 8px 20px;
    border-radius: 20px;
    border: 1px solid lightgray;
}

/* SUPERHEROES CONTENT STYLES */
.heroes-container {
    padding: 20px 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.heroes-container .superhero-card {
    cursor: pointer;
    margin: 0px 20px;
    margin-bottom: 40px;
    max-width: 250px;
    border-radius: 8px;
    border: 1px solid #949494;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.heroes-container .superhero-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.heroes-container .superhero-card .info {
    padding: 20px;
}

.heroes-container .superhero-card .info p {
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.heroes-container .superhero-card .info span {
    display: block;
    font-weight: normal;
    text-transform: capitalize;
}

/* RESPONSIVE STYLES */
@media (max-width: 966px) {
    .heroes-container .superhero-card {
        max-width: 300px;
    }
}

@media (max-width: 776px) {
    .heroes-container .superhero-card {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 500px;
    }
}

@media (max-width: 880px) {

    .navbar-header {
        height: auto;        
        flex-direction: column;
        justify-content: center;
    }

    .search-form {
        margin: 0x;
    }

    .navbar-header > * {
        margin-bottom: 10px;
    }

    .navbar-header > :first-child {
        margin-top: 10px;
    }
    
}